<!DOCTYPE html> 
<html ng-app="MSchedule"> 
	<head>
	<title>Plan lekcji</title> 	
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8"> 

	<link rel="stylesheet" href="css/jquery.mobile-1.1.1.min.css" />

	<script src="lib/jquery-1.7.1.min.js"></script>
	<script src="lib/jquery.mobile-1.1.1.min.js"></script>
	<script src="lib/angular-1.0.2.min.js"></script>
	<script src="lib/underscore-min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ctrl.js"></script>
	<script src="js/domain.js"></script>
	<script src="lib/jquery-mobile-angular-adapter.js"></script>
</head> 

<body> 

<div data-role="page" ng-controller="ScheduleCtrl">

	<div data-role="header">

    <a ng-click="backward()" data-icon="arrow-l" data-iconpos="notext"></a>
		<h1>{{current}}</h1>
    <a ng-click="forward()" data-icon="arrow-r" data-iconpos="notext"></a>

	</div><!-- /header -->

	<div data-role="content">	
		<ol data-role="listview">
		  <li ng-repeat="lesson in lessons">{{lesson}}</li>
		</ol>		
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>

