<!DOCTYPE html> 
<html ng-app="MSchedule"> 
	<head>
	<title>Plan lekcji</title> 	
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8"> 

	<link rel="stylesheet" href="lib/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.css" />

	<script src="lib/jquery-1.7.1.min.js"></script>
	<script src="lib/angular-1.0.2.min.js"></script>
	<script src="lib/underscore-min.js"></script>
	<script src="dist/mschedule-0.1.0.min.js"></script>
	<script src="lib/jquery.mobile-1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<script src="lib/jquery-mobile-angular-adapter-1.1.1.js"></script>
</head> 

<body ng-controller="ScheduleCtrl"> 

<div id="{{weekday.id}}" data-role="page" ng-repeat="weekday in weekdays">

	<div data-role="header">

    <a href="#{{weekday.prevId}}" data-icon="arrow-l" data-iconpos="notext" data-transition="slide" data-direction="reverse"></a>
		<h1>{{weekday.name}}</h1>
    <a href="#{{weekday.nextId}}" data-icon="arrow-r" data-iconpos="notext" data-transition="slide"></a>

	</div><!-- /header -->

	<div data-role="content">	
		<ol data-role="listview">
		  <li ng-repeat="lesson in weekday.lessons" data-theme="{{theme(weekday.idx, $index)}}">
		    <a href="#lesson-details" ng-click="setSelectedLesson(weekday.idx, $index)" data-transition="fade">{{lesson}}</a>
	    </li>
		</ol>		
	</div><!-- /content -->

</div><!-- /page -->

<div id="lesson-details" data-role="page" data-add-back-btn="true">

	<div data-role="header">
    <a data-rel="back" data-icon="back" data-iconpos="notext" data-transition="fade"></a>
		<h1>Szczegóły lekcji</h1>
	</div><!-- /header -->

	<div data-role="content">
    <div data-role="fieldcontain">
        <label for="subject">Przedmiot:</label>
        <input type="text" id="subject" value="{{subject}}" readonly="readonly" />
    </div>	
    <div data-role="fieldcontain">
        <label for="time">Czas:</label>
        <input type="text" id="time" value="{{startTime}} &ndash; {{endTime}}" readonly="readonly" />
    </div>	
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>

